<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/w3.css">
<script src="/static/w3.js"></script>
<title>Virtual Lab</title>
<body class="w3-container">
<table>
<tr>
  <td>
    <a href="oled" target="_blank"><img src="/static/oled.jpg" width="160" height="160"></a>
  </td>
  <td>
    <a href="rgb" target="_blank"><img src="/static/rgb.jpg" width="160" height="160"></a>
  </td>
</tr>
<tr>
  <td>
    <a href="switch" target="_blank"><img src="/static/switch.jpg" width="160" height="160"></a>
  </td>
  <td>
    <a href="dht" target="_blank"><img src="/static/dht.jpg" width="160" height="160"></a>
  </td>
</tr>
<tr>
  <td>
    <a href="#" target="_blank"></a>
  </td>
  <td>
    <a href="buzzer" target="_blank"><img src="/static/buzzer.jpg" width="160" height="160"></a>
  </td>
</tr>
</table>



</body>
</html>
